.App {
  height: 100%;
  width: 100%;
}

.player {
  height: 620px;
  width: 30%;
  margin: auto;
  margin-top: 12px;
  border: 1px solid rgb(9, 12, 11);
}

.header {
  height: 150px;
  width: 100%;
  background-color: rgb(127, 127, 207);
}